<!doctype html>
<title>Quá trình xử lý ảnh</title>
<h1 style="text-align: -webkit-center;">HỆ THỐNG NHẬN DIỆN BIỂN SỐ XE MÁY</h1>
<div style="text-align-last: center;"><img src="{{ url_for('static',filename='logo.png') }}"/></div>
<body style="background-color: azure;">
    <h4 style="text-align: -webkit-center;">QUÁ TRÌNH XỬ LÝ ẢNH</h4>
    {% if filename %}
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'1.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">ẢNH GỐC</p>
        <br>
        
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'2.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">ẢNH XÁM</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'3.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh với ngưỡng 170</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'4.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh Contour với ngưỡng 170</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'5.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Lọc Contour với ngưỡng ảnh 170</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'6.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh với ngưỡng 110</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'7.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh Contour với ngưỡng 110</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'8.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc với ngưỡng 110</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'9.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh với ngưỡng 180</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'10.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh Contour với ngưỡng 180</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'11.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc với ngưỡng 180</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'12.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh với hệ màu HSV</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'13.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc với hệ màu HSV</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'14.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc với hệ màu HSV</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'15.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc Contour với hệ màu HSV</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'16.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh lọc Contour với hệ màu HSV</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'17.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh biển số được cắt</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'18.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh biển số được cắt</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'19.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh được phân ngưỡng</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'20.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh tìm Contour</p>
    	 <br>
    </div>
    <div  style="text-align: -webkit-center;">
    	<img src="{{ url_for('static',filename='process/'+filename+"/"+'21.jpg') }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	<p style="text-align: -webkit-center;">Ảnh sau khi lọc Contour</p>
    	 <br>
    </div>
    {% endif %}
</body>