<!doctype html>
<title>Hệ thống nhận dạng biển số</title>
<div style="text-align-last: center;"><img src="{{ url_for('static',filename='logo.png') }}"/></div>
<h1 style="text-align: -webkit-center;">HỆ THỐNG NHẬN DIỆN BIỂN SỐ XE MÁY</h1>
<body style="background-color: azure;">
    <h4 style="text-align: -webkit-center;">VUI LÒNG CHỌN ẢNH CÓ CHỨA BIỂN SỐ</h4>
    <form method="post" action="/" enctype="multipart/form-data" style="color: darkgoldenrod;text-align: -webkit-center;">
        <dl>
    		<p>
        		<input type="file" name="file" autocomplete="off" required style="color: darkgoldenrod;">
    		</p>
        </dl>
        <p>
    		<input type="submit" value="UPLOAD" style="width: 100px;height: 40px;border-radius: 10px;background: steelblue;color:white">
    	</p>
    </form>
    <hr>
    {% if filename %}
    	<div  style="text-align: -webkit-center;">
    		<img src="{{ url_for('display_image', filename=filename) }}" style="width: 1000px;height: 500px;text-align: -webkit-center;">
    	</div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="text-align: -webkit-center;color: red;font-weight: bold;font-size: -webkit-xxx-large;" >{{ message }}</p>
                <form  action="/xuly/{{filename}}" enctype="multipart/form-data" style="color: darkgoldenrod;text-align: -webkit-center;">
                    <p>
                		<input type="submit" value="Xem quá trình xử lý" style="width: 400px;height: 40px;border-radius: 10px;background: steelblue;color:white">
                	</p>
                </form>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% endif %}
</body>